* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  body {
    font-family: Arial, sans-serif;
    
    color: #fff;
    line-height: 1.6;
    background-color:black;
  }
  
  .header {
    text-align: center;
    padding: 2em 0;
    background-image: url(/images/bg.jpg);
    height: 22em;
  }
  
  .title {
    font-size: 3em;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.2em;
    color: #aaa;
  }
  
  .main-image img {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .intro {
    text-align: center;
    padding: 2em 10%;
    background-color:white;
    height: 40em;
    
    

  }
  /* .intro-text p {
   
    
  } */
  
  .intro h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #111;
  
  }
  .subheading {
    font-size: 1.2em;
    color: #aaa;
    margin-bottom: 1em;
  }
  
  .intro-text {
    font-size: 1em;
    color: #ccc;
  }
  .section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50em;
    background-color: #1E1F23;
    padding-bottom: 1em;
}

.s2_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 85%;
    background-color: #121315;
}

.s2_container h2{
    font-family: 'Galano Grotesque Medium';
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
    padding-bottom: .5em;
    padding-top: 1em;
}

.margin_s2{
    display: block;
    height: 1px;
    min-height: 1px;
    width: 6em;
    background-color: #49494b;
}

.s2_container p{
    font-family: 'Galano Grotesque Light';
    text-align: center;
    color: #49494b;
    letter-spacing: .1em;
    font-size: small;
    padding-top: 1em;
    padding-bottom: 1em;
}

.s2_img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.s2_img img{
    flex: 1 1 50%;
    max-width: 50%;
    object-fit: cover; 
    height: 17em;
}

.section3,
.section4,
.section5{
    display: flex;
    width: 100%;
    height: 100%;

}
.img_cont,
.img_cont2,
.img_cont3{
    flex: 1;
}
.img_cont img,
.img_cont2 img,
.img_cont3 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

 .s3_txt,
 .s5_txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    text-align: left;
 }
 .s3_txt h2,
 .s5_txt h2 {
    font-family: 'Galano Grotesque Medium';
    color: #1E1F23;
    font-weight: 900;
    margin-bottom: 1em;
    padding-left: 2.4em;
}
.s3_txt p,
.s5_txt p {
    font-family: 'Galano Grotesque Light';
    color: #49494b;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 10%;
}

/* section 4 */


 .s4_txt{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1E1F23;
    text-align: right;
    color: #FFFFFF;
 }
 .s4_txt h2 {
    font-family: 'Galano Grotesque Medium';
    font-weight: 900;
    margin-bottom: 1em;
    padding-right: 2.4em;
    color: white;
}
.s4_txt p {
    font-family: 'Galano Grotesque Light';
    color: #49494b;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 10%;
}

/* Footer */
footer{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  color: #B8B8B8;
  font-family: 'Galano Grotesque Light';
  font-size: small;
  padding-top: 4em;
  padding-bottom: 2em;
  gap: 2em;

}

  
  .footer p {
   
    color: #aaa;
   
  }
  
  .social-icons img {
  
    color: #b8b1b1;
    height: 2em;
    padding-left: 1em;
    filter: invert(89%) sepia(6%) saturate(30%) hue-rotate(169deg) brightness(96%) contrast(89%);
  }

  
  
  .footer .social-icons a:hover {
    color: #fff;
  }

  .text{
    background-color: #fff;
    color: #111;
    height:32em;
    text-align: center;

    
  }
  .content p {
    color: #aaa;
  }

